<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SessionPractical</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>SessionTrack</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack</servlet-name>
  <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>SessionTrack2</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack2</servlet-name>
  <url-pattern>/welcome2</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SessionTrack3</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack3</servlet-name>
  <url-pattern>/welcome3</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SessionTrack4</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack4</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack4</servlet-name>
  <url-pattern>/welcome4</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SessionTrack5</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack5</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack5</servlet-name>
  <url-pattern>/welcome5</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SessionTrack6</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack6</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack6</servlet-name>
  <url-pattern>/welcome6</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SessionTracking7</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTracking7</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTracking7</servlet-name>
  <url-pattern>/welcome7</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>SessionTrack8</servlet-name>
  <servlet-class>com.ziya.servlets.SessionTrack8</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionTrack8</servlet-name>
  <url-pattern>/welcome8</url-pattern>
  </servlet-mapping>
</web-app>